body {
    font-family: "Uni sans", serif;
    font-size: 20px;
    margin: 20px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}



input[type="text"], select {
    font-family: "Uni sans", serif;
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

input[type="file"], select {
    font-family: "Uni sans", serif;
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

input[type="date"], select {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

button {
    font-family: "Uni sans", serif;
    padding: 10px 15px;
    background-color: #FFB6C1;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    margin-right: 5px;
}

button:hover {
    background-color: #DB7093;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;

}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e9e9e9;
}

